.profilePage {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 20px;
}

.separator {
  height: 1px;
  background-color: var(--color-scarpa-flow);
  margin-bottom: 44px;
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 18px;
}

.postWrapper {
  height: 0;
  padding-top: 100%;
  position: relative;
}

.post {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 568px) {
  .profilePage {
    padding: 40px;
  }
  .postsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}

@media (min-width: 800px) {
  .profilePage {
    padding: 40px;
  }
  .postsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}
