.section {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: grid;
  gap: 36px;
  margin-bottom: 48px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

.postWrapper {
  height: 0;
  padding-top: 100%;
  position: relative;
}

.post {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 578px) {
  .section {
    margin-bottom: 64px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
