.button {
  --color: var(--color-orange-base);
  display: block;
  width: 100%;
  padding: 16px 32px;
  font-size: 14px;
  line-height: 1;
  transition: color 0.2s ease, background-color 0.2s ease, outline 0.2s ease;
  border-radius: 2px;
}

.button:hover {
  --color: var(--color-orange-light);
}

.button:active {
  --color: var(--color-orange-dark);
}

.filled {
  color: var(--color-black);
  background-color: var(--color);
}

.outlined {
  color: var(--color);
  outline: var(--color) solid 2px;
  outline-offset: -2px;
}

@media (min-width: 578px) {
  .button {
    width: auto;
  }
}
