.homePage {
  padding-top: 60px;
  display: grid;
  grid-template-areas: "search" "users" "posts";
  grid-template-columns: minmax(0, 100%);
}
.search {
  grid-area: search;
  margin-bottom: 48px;
}

.users {
  grid-area: users;
  margin-bottom: 12px;
}

.posts {
  grid-area: posts;
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
}

@media (min-width: 800px) {
  .homePage {
    grid-template-areas: "search -" "posts users";
    grid-template-columns: 1fr 250px;
    column-gap: 32px;
  }
}
