.condensed {
  display: block;
  height: 36px;
}

.extended {
  height: 36px;
  display: none;
}

@media (min-width: 578px) {
  .condensed {
    display: none;
  }

  .extended {
    display: block;
  }
}
