.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2px 16px 16px;
}

.list {
  flex: 1 1 auto;
  display: grid;
  gap: 12px;
  overflow: auto;
  max-height: 356px;
  margin-bottom: 22px;
}

.textarea {
  flex: 0 0 auto;
}
