.button {
  display: block;
  padding: 8px;
  transition: color 0.2s ease;
  color: var(--color-orange-base);
}

.button:hover {
  color: var(--color-orange-light);
}

.button:active {
  color: var(--color-orange-base);
}

.button:disabled {
  color: var(--color-scarpa-flow);
  pointer-events: none;
}
