.button {
  display: block;
  padding: 8px;
  transition: color 0.2s ease;
  color:var(--color-silver-chalice);
}

.button:hover {
  color: var(--color-orange-light);
}

.button:active {
  color: var(--color-orange-dark);
}
