.label {
  display: block;
  text-align: left;
}

.labelText {
  color: var(--color-orange-base);
}

.input {
  display: block;
  background: none;
  border: none;
  outline: none;

  padding: 6px 2px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: currentColor;
  border-bottom: 2px solid var(--color-silver);
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: var(--color-orange-base);
}
