.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88px;
}

.avatar {
  flex: 0 0 auto;
  height: 64px;
  width: 64px;
  margin-bottom: 4px;
}

.username {
  flex: 1 1 auto;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

@media (min-width: 800px) {
  .wrapper {
    flex-direction: row;
    width: unset;
  }

  .avatar {
    margin: 0 8px 0 0;
  }
}
