.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  height: 56px;
  width: 56px;
  margin-right: 16px;
}

@media (min-width: 578px) {
  .userCard {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
}
