.textarea {
  resize: none;
  background: none;
  border: none;
  outline: none;
  color: currentColor;

  background-color: var(--color-alabaster);
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  padding: 6px 8px 10px;
}
