.footer {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-scarpa-flow);
  background-color: var(--color-alabaster);
  position: fixed;
  width: 100%;
  bottom: 0;
}
