.button {
  --icon-color: var(--color-black);
  padding: 8px;
  display: flex;
  align-items: center;
}

.icon {
  color: var(--icon-color);
  transition: color 0.2s ease;
  margin-right: 4px;
}

.button:hover {
  --icon-color: var(--color-orange-base);
}

.liked {
  --icon-color: var(--color-orange-base);
  animation: Beat 0.4s forwards;
}

@keyframes Beat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1.25);
  }

  75% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
