.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: 20px 16px;
  border-radius: 4px;
  border: 1px solid var(--color-silver);
}


.input {
  flex: 1 1 auto;
  display: block;
  background: none;
  border: none;
  outline: none;

  margin-right: 4px;
  padding: 0 2px 8px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: currentColor;
  border-bottom: 1px solid var(--color-silver-chalice);
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: var(--color-orange-base);
}

.input:focus ~ .button{
  color: var(--color-orange-base);
}

@media (min-width: 578px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
}
