.button {
  padding: 8px;
  --icon-color: var(--color-black);
  display: flex;
  align-items: center;
}

.icon {
  color: var(--icon-color);
  transition: color 0.2s ease;
  margin-right: 4px;
}

.button:hover {
  --icon-color: var(--color-scooter-dark);
}
